img {
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
  border-radius: 5px;
}
.texto-evento{
  padding: 3px;
}
.header {
  h5 {
    background-color: #edcd03;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    font-weight: bold;
    text-align: center;
  }
}
.slide {
  overflow-x: hidden;
  display: flex;
  text-align: center;
  div {
    margin: 10px 0 0 0 !important;
    padding: 0 4px;
    &:nth-child(1){
      img{
        opacity: 1;
      }
    }
  }
}
.arrow-left,
.arrow-right {
  background-color: transparent;
  position: absolute;
  top: 175px;
  bottom: 0;
  height: 10px;
  color: #fff;
  cursor: pointer;
  border: none;
  &:hover {
    i.arrow{
      opacity: 1;
    }
  }
}
.arrow-right {
  right: 0;
  left: auto;
}

.container-wraper{
  position: relative;
  width: 100%;
}
i.arrow{
  font-size: 20px;
  background-color: #edcd03;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  opacity: .5;
  transition: .5s;
}
.item {
  width: 350px;
  height: 350px;
  flex-shrink: 0;
}

.imageSlide{
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

@media screen and (max-width: 991px){
  .header {
    p{
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 768px){
    .container-wraper{
      width: 100%;
    }
  }
}
.video {
  position: relative;
}
video {
  width: 100%;
  height: 100%;
}
//Bem-vindo - video
.overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    color: white;
    font-size: 4rem;
  }
}


//quem-somos
.img-back{
  background: url('../../../assets/background-quem-somos.webp') no-repeat center bottom fixed;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  .quem-somos{
    display: flex;
    .descricao{
      padding: 0 20px 0 0px;
      p{
        font-size: 17px;
        b{
          color: rgb(237,205,31);
          font-size: 25px;
          font-weight: 400;
        }
      }
    }
  }
}
.divisao{
  background-color: #f8f9fa;
}
